<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.divingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DivingApp">
        <activity android:name=".activities.userActivities.UserMeetingsActivity"></activity>
        <activity android:name=".activities.instructorActivities.InstructorNewMeetingActivity" />
        <activity android:name=".activities.instructorActivities.InstructorSingleUserMeetingsActivity" />
        <activity android:name=".activities.adminActivities.AdministratorInstructorsListActivity" />
        <activity android:name=".activities.adminActivities.RegisterInstructorActivity" />
        <activity android:name=".activities.adminActivities.AdministratorProfileActivity" />
        <activity android:name=".activities.userActivities.UserNoInstructorActivity" />
        <activity android:name=".activities.userActivities.UserInstructorActivity" />
        <activity android:name=".activities.userActivities.UserProfileActivity" />
        <activity android:name=".activities.instructorActivities.InstructorAddUserActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUserWeightsActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUserSkillDetailsActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUserSwimmingInfoActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUserEquipmentInfoActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUserAutomatInfoActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUserMaskInfoActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUserSkillsInfoActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUserContactActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUserSkillsActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUserInfoActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUserDetailsActivity" />
        <activity android:name=".activities.instructorActivities.InstructorMeetingsListActivity" />
        <activity android:name=".activities.instructorActivities.InstructorUsersListActivity" />
        <activity android:name=".activities.instructorActivities.InstructorProfileActivity" />
        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.adminActivities.AdministratorHomeActivity" />
        <activity android:name=".activities.instructorActivities.InstructorHomeActivity" />
        <activity android:name=".activities.userActivities.UserHomeActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.LoginActivity" />
    </application>

</manifest>